<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MVP Test</title>

    <!-- Compiled and minified CSS -->
    <!-- Materialze-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <link href="styles.css" rel="stylesheet">

   <script src="traffic.js"></script> 

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper" style=" background-color: #969696;">
            
               <p>Header</p>
            </div>
        </nav>
    </header>
    <main>

        <div class="container">
            <h1 class="title">MVP Test </h1>
            
      
            <div class="row center " style="padding-top:50px;">
              
                
                <form action="/traffic/" method="POST">
                    <label for="TL1">Traffic Level Intersection 1 </label>
                    <input id="TL1" type="text" name="TL1" value="Default.">

                    <label for="TL2">Traffic Level Intersection 2: </label>
                    <input id="TL2" type="text" name="TL2" value="Default .">

                    <label for="TL3">Traffic Level Intersection 3: </label>
                    <input id="TL3" type="text" name="TL3" value="Default ">

                    <input type="submit" value="OK">
                </form>
            
             
            </div>
    

          
        </div>
    
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
     
        </div>
      </footer>




    <!-- socket IO Served by the server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="env.js"></script>

</body>

</html>